/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import "tailwind";
@import "variables";
@import "match";
@import "new_match";


body,
html {
  background-color: $background;
  color: white;
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  color: $purple;
  text-decoration: none;
}

.header {
  h1 {
    margin: 0;
  }
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  .logo {
    width: 80px;
  }
  .navbar {
    background-color: darken($purple, 10);
    a {
      margin: 0 1rem;
      color: white;
      font-size: 0.8rem;
      &:hover {
        text-decoration: overline;
      }
    }
    text-transform: uppercase;

    padding: 0.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.splash {
  margin-top: 5rem;
  display: flex;
  justify-content: center;

  a.login-with-discord {
    max-width: 300px;
    border-right: 4px solid darken(#b69ed5, 15);
    border-bottom: 4px solid darken(#865cbb, 25);
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: darken(#865cbb, 10);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    &:hover {
      color: darken(#865cbb, 15);
      border-right: 4px solid #b69ed5;
      border-bottom: 4px solid darken(#865cbb, 5);
    }
    img {
      width: 250px;
    }
  }
}
