<div class="">
  <h1>Hello, <%= @current_user.username %></h1>

  <a href="<%= matches_path %>">Matches</a>
  <br>
  <a href="<%= new_match_path %>">New Match</a>
  <br>
  <a href="/logout">Logout</a>
</div>
