body {
  background-color: #0f1720;
  color: white;
  font-family: "Jost", sans-serif;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
