@import "variables";

body {
  background-color: #0f1720;
  color: white;
  font-family: "Jost", sans-serif;
}

a,
a:visited {
  color: $purple;
  text-decoration: none;
}

.header {
  h1 {
    margin: 0;
  }
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  .logo {
    margin-top: 1rem;
    width: 80px;
  }
}

.splash {
  margin-top: 5rem;
  display: flex;
  justify-content: center;

  a.login-with-discord {
    max-width: 300px;
    border-right: 4px solid darken(#b69ed5, 15);
    border-bottom: 4px solid darken(#865cbb, 25);
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: darken(#865cbb, 10);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    &:hover {
      color: darken(#865cbb, 15);
      border-right: 4px solid #b69ed5;
      border-bottom: 4px solid darken(#865cbb, 5);
    }
    img {
      width: 250px;
    }
  }
}
