<div class="splash">
  <h1>Fathom Pickup</h1>
  <img src="<%= image_path('logo.png') %>" alt="logo" class="logo">

  <hr>
  <a class="login-with-discord" href="/auth/discord">
    Login with
    <img src="<%= image_path('discord.svg') %>" alt="discord-logo">
  </a>

</div>
